@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fffafe;
}

.wrapper {
    margin-top: 5%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 50px;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 70px;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 60%;
    color: #4A1250;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 60%;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: normal;
}

header {
    background-color: #EFDCF1;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo {
    margin: 10px 0 0 1.5% ;
    flex: 1;
}

.cart {
    float: right;
    font-size: 50px;
    color: #4A1250;
    flex: 1; 
    margin: 30px 1.5% 0 70%;
    margin-right: 0;
    margin-left: 70%
}

.navbar {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #4A1250;
    border-right: 2px solid black;
}

.navbar_link:link {
    text-decoration: none;
    background-color: white;
    color: #4A1250;
}

.navbar_link:visited {
    background-color: white;
    color: #4A1250;
    
}

.navbar_link:hover,
.navbar_link:active {
    background-color: #4A1250 !important;
    color: #EFDCF1;
}

.navbar_list {
    list-style: none;
    padding-left: 40%;
}

.navbar_item {
    margin: auto;
}

.navbar_current {
    background-color: #4A1250;
    color: white;
}

.product_list {
    width: 45%;
}

.product {
    line-height: 20%;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 50px;
    text-decoration: none;
}

.product img {
    border-radius:15px 15px 0 0; 
}

.product h4 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.product p {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

.rating {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #EFDCF1;
    width: 100%;
    height: 130px;
}

footer a {
    text-decoration: none;
}

/* Order Form */

.form {
    margin: 1.5% 40% 1.5% 5.5%;
    font-family: 'Raleway', sans-serif;
}

.form a {
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

fieldset {
    margin: 1.5% 0;
    border: 1px solid #4A1250;
    border-radius: 5px;
}

fieldset h4 {
    margin-top: 30px;
    margin-bottom: 5px;
    
}

legend {
    font-weight: bold;
}

input, 
select,
textarea,
submit,
reset {
    padding: 10px;
    border: 1px solid #4A1250;
    border-radius: 5px;
}

input,
select,
textarea {
    margin-top: 5px;
    margin-bottom: 5px;
}

#state {
    width: 70px;
}

#zip {
    width: 100px;
}

#amount {
    width: 75px;
}

#cardinfo {
    display: none;
}

#card:checked ~ #cardinfo {
    display: block;
}

#cardnum {
    width: 160px;
}

#expiration {
    width: 130px;
}

#security {
    width: 130px;
}

#billingaddress {
    display: none;
}

#different:checked ~ #billingaddress{
    display: block;
}

#submit {
    background-color: #DF86B6;
    color: white;
    font-size: 20px;
    transition-duration: 0.4s;
    padding-right: 40px;
    padding-left: 40px;
}

#submit:hover {
    background-color: #b86190;
}

#reset {
    background-color: #fffafe;
    color: #4A1250;
    font-size: 20px;
    padding-right: 40px;
    padding-left: 40px;
    transition-duration: 0.4s;
}

#reset:hover {
    background-color: #4A1250;
    color: white;
}
